<!--nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="" alt="" height="30px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">

                    <a class="nav-link text-uppercase " aria-current="page" routerLink="principal">Principal</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-uppercase" routerLink="catalogo">Catalogo</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-uppercase" routerLink="recetas">Recetas</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-uppercase" routerLink="tutoriales">Tutoriales</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link text-uppercase" routerLink="somos">Quiénes Somos</a>
                </li>



            </ul>

        </div>
    </div>
</nav-->



<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/img/navbar-logo.png" alt="" style="width:200px;" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link js-scroll-trigger" routerLink="principal">Principal</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link js-scroll-trigger" routerLink="catalogo">Catálogo</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link js-scroll-trigger" routerLink="recetas">Recetas</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link js-scroll-trigger" routerLink="tutoriales">Tutoriales</a></li>
                <li class="nav-item" routerLinkActive="active"><a class="nav-link js-scroll-trigger" routerLink="somos">Quiénes Somos</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>