<!-- Masthead-->
<header class="masthead m-5">
    <div class="container">
        <div class="masthead-heading text-uppercase" style="background-image: url('/src/assets/img/header-bg.PNG');">BG BOCADITOS</div>

    </div>
</header>


<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container" data-step="2" data-intro="Estas son las categorias de nuestros productos">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestros productos</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">

                        <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Pasteles</div>
                        <div class="portfolio-caption-subheading text-muted">$15 - $60</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">

                        <img class="img-fluid" src="assets/img/portfolio/02-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Cupcakes/Cakepops</div>
                        <div class="portfolio-caption-subheading text-muted">$1.25 - $5</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">

                        <img class="img-fluid" src="assets/img/portfolio/03-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Bocaditos</div>
                        <div class="portfolio-caption-subheading text-muted">$12 - $25</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Tenemos todo lo que necesitas!</h2>
                <hr class="divider light my-4" />
                <p class="text-white mt-0">Fusionamos arte con repostería.Trabajamos con amor y lo mejor de todo es que es trabajo artesanal. En BGBocaditos contamos con pasteles y bocaditos para cada ocasión espacial. Cada cake es único y esta preparado con ingredientes frescos
                    y de alta calidad.</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../assets/img/intro.PNG" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <p class="mb-3">
                    Realmente disfruto el proceso de hacer comida colorida y deliciosa. Pero me permito un trozo de chocolate ocasional, hoy comí un pastel. Si me apetece algo, lo tengo.
                </p>
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">Victoria Pendleton</span>
                </h2>
            </div>
        </div>
    </div>
</section>